/* Css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fonts */
@font-face {
    font-family: 'vazirMatn';
    src: url(/C.S.S/vazir-font-v27.2.2-Fontjo.com/vazir-font-v27.2.2-Fontjo.com/Vazir-Light.eot) format('eot'),
        url(/C.S.S/vazir-font-v27.2.2-Fontjo.com/vazir-font-v27.2.2-Fontjo.com/Vazir-Light.ttf) format('ttf'),
        url(/C.S.S/vazir-font-v27.2.2-Fontjo.com/vazir-font-v27.2.2-Fontjo.com/Vazir-Light.woff)format('woff');

}

@font-face {
    font-family: 'lalezarMatn';
    src: url(/C.S.S/Lalezar-Fontjo.com/Lalezar-Fontjo.com/TTF/Lalezar-Regular.ttf) format('truetype'),
        url(/C.S.S/Lalezar-Fontjo.com/Lalezar-Fontjo.com/OTF/Lalezar-Regular.otf) format('otf');
}

@font-face {
    font-family: 'yekanMatn';
    src: url(/C.S.S/B-Yekan/BYekan+/BYekan+.ttf) format('truetype');
}

/* Shabnam Font For Numbers */
@font-face {
    font-family: 'Number';
    src: url(/C.S.S/W_ouj.ttf) format('truetype');
}

/* Css Variables */
:root {
    --firstMainColorTemplate: #222;
    --secondMainColorTemplate: #ff724c;
    --mainColorTexts: white
}

/* Index / Home Page */
.container {
    width: 100%;
    display: flex;
    flex-flow: row;
    height: 100%;
    font-family: "vazirMatn";
}

/* Header */
header {
    background: var(--firstMainColorTemplate);
    color: var(--mainColorTexts);
    width: 11%;
    height: 39.04rem;
    box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.profile-summary {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 30%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.199);
}

.profile-summary img {
    width: 80px;
    border: 2px solid white;
}

.profile-summary h3 {
    font-family: 'lalezarMatn';
    font-size: 25px;
    padding-top: .5rem;
}

nav li a {
    text-decoration: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.650);
    border-bottom: 1px solid rgba(255, 255, 255, 0.199);
    transition: all 200ms ease-in-out;
}

nav li a:hover {
    color: var(--mainColorTexts);
}

nav li {
    transition: all 500ms ease-in-out;
    /* direction: ltr; */

}

nav li::before {
    content: '';
    width: 4px;
    height: 75px;
    right: 9.2rem;
    position: absolute;
    background-color: var(--secondMainColorTemplate);
    transition: 200ms ease;
    opacity: 0;
}

nav li:hover::before {
    opacity: 1;
}

.home-page {
    background: white url(/Img/Home-Page.jpg);
    background-position: 0% 40%;
    background-size: 100%;
    width: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-of-home-page {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
}

.title-of-home-page h1 {
    color: var(--secondMainColorTemplate);
    font-family: 'lalezarMatn';
    font-size: 60px;
}

.title-of-home-page h3 {
    font-size: 20px;
}

.title-of-home-page span:lang(en-US) {
    font-size: 14px;
    transform: rotateY();
    width: 10rem;
    font-family: 'Courier New', Courier, monospace;
    animation: front-end 1s ease-in-out infinite alternate;
    font-weight: bold;
    color: rgba(0, 0, 0, .4);
}

.title-of-home-page h3 span::after {
    content: '#';
}

@keyframes front-end {
    0% {
        color: rgba(0, 0, 0, .4);
    }

    40% {
        color: green;
        background-color: black;
    }

    100% {
        color: green;
        background-color: black;
    }
}

/* About Me Page: */
.content-of-site {
    background: white url(/Img/Home-Page.jpg);
    background-position: 0% 40%;
    background-size: 77rem;
    width: 89%;
    height: 39.05rem;
}

.modal {
    width: 90%;
    height: 35rem;
    background-color: var(--firstMainColorTemplate);
    margin: 2rem auto;
    display: flex;
    padding: 1.5rem 4rem;
    box-sizing: border-box;
    overflow-y: scroll;
    flex-flow: column;

}

.top-side {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 3rem;
}

.title-of-content {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    gap: .3rem;
}

.title-of-content h1 {
    font-family: 'lalezarMatn';
    opacity: .2;
    color: white;
    font-size: 85px;
}

.title-of-content h4 {
    color: white;
    background-color: var(--secondMainColorTemplate);
    padding: 5px;
    font-size: 14px;
}

/* More Work for it */
/* .border-box-design {
    position: relative;
    left:20rem;
    border-top: 3px solid var(--secondMainColorTemplate);
    border-right: 3px solid var(--secondMainColorTemplate);
    width: 7rem;
    height: 7rem;
} */

.top-of-about-page .information-of-profile {
    display: flex;
    flex-flow: row;
    gap: 2rem;
    color: white;
    line-height: 30px;
    align-items: flex-start;
}



.top-of-about-page img {
    width: 280px;
}

.second-part-of-info h3 {
    font-family: 'lalezarMatn';
    font-size: larger;
    margin-bottom: 1rem;
}

.second-part-of-info p {
    opacity: .9;
    margin-bottom: .6rem;
}

.third-part-of-info ul {
    width: 17rem;
    font-weight: bold;
    font-size: 14px;
}

.third-part-of-info ul li span:nth-child(2) {
    margin-right: 10px;
}

.third-part-of-info ul li {
    margin-bottom: 8px;
}

.Email:lang(en-US) {
    font-family: cursive;
    color: #d45e3d;
    cursor: pointer;
}

.third-part-of-info .bottom-side-of-third-part-in-info i {
    font-size: 20px;
    padding: 8px;
    color: rgba(255, 255, 255, .7);
    border: 1px solid rgba(255, 255, 255, .4);
    cursor: pointer;
    transition: 300ms ease;
}

.third-part-of-info .bottom-side-of-third-part-in-info i:last-child {
    display: none;
}

.third-part-of-info .bottom-side-of-third-part-in-info span {
    display: flex;
    flex-flow: row;
    gap: 8px;
    justify-content: center;
}

.third-part-of-info .bottom-side-of-third-part-in-info i:hover {
    background-color: var(--secondMainColorTemplate);
}

/* Bottom of about Page */
.bottom-of-about-page .layout-in-bottom {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.bottom-of-about-page .services-in-profile h3 {
    font-size: 25px;
    font-family: 'lalezarMatn';
    color: white;
}

.title-of-section {
    border-right: 2px solid var(--secondMainColorTemplate);
    height: 3rem;
    display: flex;
    align-items: center;
    width: 8%;
    justify-content: center;
    font-family: 'lalezarMatn';
    color: white;
    font-size: 25px;
    margin-top: 2rem;
}

.list-of-services {
    display: flex;
}

.box-of-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.box-of-list img {
    max-width: 180px;
    max-height: 180px;
}

.box-of-list p {
    color: rgba(255, 255, 255, .8);
    line-height: 28px;
    text-align: center;

}

.second-title {
    width: 10%;
}

.second-row-box {
    width: 100%;
}

.second-row-box img {
    width: 80px;
    border-radius: 50px;
    transition: 300ms ease-in-out;
    background-color: rgba(255, 255, 255, .8);
    cursor: pointer;
}

.second-row-box img:hover {
    background-color: white;

}

.third-title {
    width: 17%;
}

.opinion-clients .list-of-services {
    justify-content: space-around;
}

.opinion-clients .list-of-services .box-of-list .prag {
    width: 19rem;
    background-color: rgba(255, 255, 255, .03);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, .5);
}

.opinion-clients .list-of-services .box-of-list .prag {
    font-style: italic;
    color: white;
    font-size: 14px;
}

.opinion-clients .list-of-services .box-of-list figcaption {
    display: flex;
    width: 12rem;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    bottom: 2rem;
}

.opinion-clients .list-of-services .box-of-list figcaption img {
    width: 40%;
}

.opinion-clients .list-of-services .box-of-list figcaption section {
    align-self: stretch;
    width: 60%;
    position: relative;
    top: 1.5rem;
    right: .5rem;
}

.opinion-clients .list-of-services .box-of-list figcaption section p:nth-child(2) {
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    margin-top: -.4rem;
}

.opinion-clients .list-of-services .box-of-list figcaption section p:nth-child(1) {
    text-align: right;
}

.fourth-title {
    width: 15%;
}

.fourth-title::after {
    content: ':)';
    color: var(--secondMainColorTemplate);
    margin-right: .5rem;
}

.interesting-facts {
    display: flex;
    flex-flow: column;
}

.interesting-facts .list-of-services {
    justify-content: space-evenly;
}

.interesting-facts .list-of-services .box-of-list {
    background-color: #d45e3d;
    font-size: 18px;
    font-weight: bold;
    width: 10rem;
    padding: 1.4rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .03);
}

.interesting-facts .list-of-services .box-of-list:nth-child(2) {
    background: var(--firstMainColorTemplate);
}

.interesting-facts .list-of-services .box-of-list:nth-child(4) {
    background: var(--firstMainColorTemplate);
}

.interesting-facts .list-of-services .box-of-list span {
    font-size: 60px;
    color: rgba(255, 255, 255, .5);
    font-variation-settings:
        'wght'200,
        'opsz'48
}

.interesting-facts .list-of-services .box-of-list p:last-child {
    color: var(--secondMainColorTemplate);
}

/* Resume Page: */
.modal-of-about-resume .content-of-resume {
    width: 110%;
    display: flex;
    color: white;
}

.modal-of-about-resume .content-of-resume .column-of-education {
    width: 40%;
}

.column-of-education .top-column h3 {
    width: 6rem;
}

.modal-of-about-resume .content-of-resume .column-of-education .bottom-column {
    display: flex;
    flex-flow: column;
}

.box-of-columns {
    border-right: 1px solid rgba(255, 255, 255, .1);
    padding: 1.4rem;
    display: flex;
    flex-flow: column;
    gap: .7rem;
}

.bottom-column {
    padding: 1rem;
}

.badge {
    background-color: var(--secondMainColorTemplate);
    width: 40px;
    padding: 5px;
    font-size: 13px;
    text-align: end;

}

.box-of-columns h3 {
    font-weight: bold;
}

.box-of-columns h4 {
    font-size: 12px;
    opacity: .4;
}

.box-of-columns p {
    line-height: 25px;
    font-size: 15px;
}

.modal-of-about-resume .content-of-resume .column-of-exprience {
    width: 40%;
}

.column-of-exprience .top-column h3 {
    width: 60px;
}

.modal-of-about-resume .column-of-two-skills {
    width: 30%;
}

.modal-of-about-resume .column-of-two-skills .title-of-section {
    width: 160px;
}

.modal-of-about-resume .column-of-two-skills .range-of-skills {
    display: flex;
    flex-flow: column;
    font-weight: bold;
    font-size: 15px;
    gap: 1rem;
}

.box-of-skills {
    display: flex;
    flex-flow: column;
    gap: .5rem;
}

.box-of-skills .container-range {
    border: 1px solid rgba(255, 255, 255, .2);
    height: 10px;
}

.container-range div {
    background-color: var(--secondMainColorTemplate);
    height: 100%;
}

.first-skill {
    width: 90%;
    animation: firstSkill 1.5s;
}

@keyframes firstSkill {
    from {
        width: 0%;
    }

    to {
        width: 90%;
    }
}

.second-skill {
    width: 80%;
    animation: secondSkill 1.5s;
}

@keyframes secondSkill {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }
}

.third-skill {
    width: 60%;
    animation: thirdSkill 1.5s;
}

@keyframes thirdSkill {
    from {
        width: 0%;
    }

    to {
        width: 60%;
    }
}

.fourth-skill {
    width: 95%;
    animation: fourthSkill 1.5s;
}

@keyframes fourthSkill {
    from {
        width: 0%;
    }

    to {
        width: 95%;
    }
}

.fifth-skill {
    width: 85%;
    animation: fifthSkill 1.5s;
}

@keyframes fifthSkill {
    from {
        width: 0%;
    }

    to {
        width: 85%;
    }
}

.sixth-skill {
    width: 65%;
    animation: sixthSkill 1.5s;
}

@keyframes sixthSkill {
    from {
        width: 0%;
    }

    to {
        width: 65%;
    }
}

.seventh-skill {
    width: 79%;
    animation: seventhSkill 1.5s;
}

@keyframes seventhSkill {
    from {
        width: 0%;
    }

    to {
        width: 79%;
    }
}

.eighth-skill {
    width: 60%;
    animation: eighthSkill 1.5s;
}

@keyframes eighthSkill {
    from {
        width: 0%;
    }

    to {
        width: 60%;
    }
}

.bottom-of-resume {
    margin-top: 1rem;
}

.btn {
    width: 140px;
    font-size: 20px;
    font-family: 'lalezarMatn';
    background-color: transparent;
    outline: none;
    border: 2px solid var(--secondMainColorTemplate);
    color: var(--secondMainColorTemplate);
    transition: all .2s ease-in-out;
    cursor: pointer;
    padding: 3px;
}

.btn:hover {
    transition: all .2s ease-in-out;
    background: linear-gradient(40deg, rgb(255, 114, 76), rgb(117, 61, 45));
    color: white;
}

/* Worksample Page */
.nav-side {
    width: 100%;
    margin-bottom: 2rem;
    height: 5rem;
}

.nav-side ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: .5rem;
    font-size: 15px;
}

.nav-side ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, .4);
    transition: 400ms ease;
    padding: 5px;
}

.nav-side ul li a:hover {
    color: rgba(0, 0, 0, .8);
    background-color: white;
}

.nav-side ul li .active {
    background-color: var(--secondMainColorTemplate);
    color: white;
}

.content-of-worksample {
    display: flex;
    flex-flow: row wrap;
    gap: .1rem;
}

.content-of-worksample img {
    width: 310px;
    cursor: pointer;
    transition: 400ms ease;
}

.content-of-worksample img:hover {
    transform: scale(1.1);
    box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, .4);
}

/* Contact Me */
.content-of-contact {
    margin-top: -1.5rem;
    display: flex;
    color: rgba(255, 255, 255, .8);
}

.content-of-contact span {
    font-variation-settings:
        'FILL'0,
        'wght'100,
        'GRAD'0,
        'opsz'48
}

.info-side {
    width: 50%;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.info-side .title-of-section {
    width: 12rem;
}

.info-side p {
    line-height: 25px;
}

.info-side ul li {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: .5rem;
}

.form-side {
    width: 50%;
}

.form-side .title-of-section {
    width: 6rem;
}

.form-side form {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 10px;
}

.form-side form div {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.form-side form div input {
    width: 25rem;
    font-size: 15px;
    font-family: 'vazirMatn';
    padding: .3rem 1rem .3rem 2rem;
    position: absolute;
    background: transparent;
    color: white;
    outline: none;
    border: 1px solid rgba(255, 255, 255, .2);
}

.form-side form div span {
    font-size: 35px;
}

form .material-symbols-outlined {
    position: relative;
    right: 25.5rem;
    font-size: 40px;
}

.third-input {
    width: 107%;
}

.third-input textarea {
    margin: 0 auto;
    width: 100%;
    height: 5rem;
    padding: 10px;
    font-family: 'lalezarMatn';
    background-color: transparent;
    outline: none;
    color: white;
}

form input::placeholder {
    font-weight: bold;
}
